<!-- <h4>GSTIN settings</h4> -->
<div class="ui vertical fluid pointing menu">
	<a class="item" href='/settings'>
		General
	</a>
	<a class="disabled item" href='/settings/security'>
		Password and authentication
	</a>
	<a class="disabled item" href='/settings/notifications'>
		Notifications
	</a>
	<a class="disabled item" href='/settings/sessions'>
		Sessions
	</a>
	<a class="disabled item" href='/settings/orgs'>
		Organizations
	</a>
	<a class="disabled item" href='/settings/feature_flags'>
		Preferences
	</a>
</div>
