<div class='ui basic first segment'>
	<h1>Usage:</h1>
	<!-- <div class='ui segment'> -->
		<iframe
			src="<%= mb_url %>"
			frameborder="0"
			width="100%"
			height="800"
			allowtransparency
			id="metabase_iframe"
		></iframe>	
	<!-- </div> -->
</div>
