<% include css_for_email %>

<div class='ui container'>
	<div class='ui segment'>
		<p>Hi <%=user.name%>,</p>

		<p>Verify this email address for your Cashflowy account by clicking the link below</p>
		<a href='<%=url%>' class='ui teal button'>Verify email address</a>			
	</div>
</div>